.header {
  width: calc(100% - 2px);
  background: var(--header-background);
  border: solid 1px var(--header-border);
  color: var(--header-text);

  font-family: Poppins;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header > .header__title {
  margin: 10px;
  width: calc(100% - 500px);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.header__title > div {
  margin-right: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.title__name {
  margin: 0 0 5px 0;
  display: block !important;
  height: 25px;
  font-weight: 600;
  font-size: 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title__description {
  --maxLineNumber: 3;
  margin: 0 0 5px 0;
  font-weight: 200;
  font-size: 13px;
  text-align: justify;
  line-height: 15px;
  width: 80ch !important;
  max-height: calc(20px * var(--maxLineNumber));

  white-space: wrap;
  overflow: hidden;
  text-overflow: initial;

  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.title__labels {
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.title__tags {
  margin: 0 0 2px 0;
}

.labels__entry {
  padding: 0 5px;
  background-color: var(--select);
  margin-right: 5px;
  font-size: 10px;
  border-radius: 5px;
  color: var(--header-background);
}

.labels__moreindicator {
  height: 18px;
  background-color: transparent;
  border: 1px solid var(--select);
  color: var(--select);
}

.moreindicator--show {
  display: block;
}

.moreindicator--hide {
  display: none;
}

.expanded {
  width: 100%;
}

.header__logo {
  margin-left: 10px;
  min-height: 45px;
  min-width: 45px;
  background-image: url('../assets/logo.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

.header__options {
  margin-right: 10px;
  display: flex;
  flex-flow: row-reverse;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
}

.options__entry:hover {
  background-color: var(--header-button-background);
}

.options__entry {
  margin: 5px;
  padding: 5px;
  width: 50px;

  border-radius: 5px;
  text-align: center;

  cursor: pointer;
  transition-duration: 100ms;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.options__entry:hover .entry__icon {
  background-color: var(--select);
}

.entry__label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 20px;
  line-height: 10px;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  color: var(--header-text);
}

.options__entry:hover .entry__label {
  color: var(--select);
}

.entry__icon {
  -webkit-mask: var(--svg);
  mask: var(--svg);

  margin: 0 5px;
  width: 40px;
  height: 30px;

  background-color: var(--header-text);

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.import {
  --svg: url('../assets/icons/upload.svg');
}

.export {
  --svg: url('../assets/icons/download.svg');
}

.export_stix {
  --svg: url('../assets/icons/download.svg');
  width: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metadata {
  --svg: url('../assets/icons/edit.svg');
}

.sign {
  --svg: url('../assets/icons/signature.svg');
}

.verify {
  --svg: url('../assets/icons/verify.svg');
}

.expander .entry__icon {
  position: relative;
  background-color: transparent !important;
  transition-duration: 200ms;
}

.expander .entry__icon::before {
  content: '.';
  color: transparent;
  position: absolute;
  left: 0px;
  top: 3px;

  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0;

  transition-duration: 200ms;

  background-color: var(--header-button-hover) !important;
}

.expander.expanded .entry__icon::before {
  transition-duration: 200ms;
  background-color: var(--select) !important;
}

.expander .entry__icon::after {
  content: '.';
  color: transparent;
  position: absolute;
  left: 2px;
  top: 5px;

  padding: 8px;
  border-radius: 10px;
  font-size: 0;

  transition-duration: 200ms;

  background-color: var(--header-background) !important;
}

.expander.expanded .entry__icon::after {
  left: 22px;
  top: 5px;

  transition-duration: 200ms;

  background-color: var(--header-background) !important;
}
