.validator-container {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px;

  font-size: 12px;
  color: #000000;
  font-weight: 500;
  font-family: Poppins;
  letter-spacing: 0.5px;

  border: solid 1px rgb(185, 188, 197);

  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.validator-icon {
  height: 15px;
  width: 15px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.validator-icon-correct {
  background-image: url('../assets/icons/correct.svg');
}

.validator-icon-error {
  background-image: url('../assets/icons/error.svg');
}

.validator-correct {
  background: #dbffd6 !important;
  color: #278811 !important;
}

.validator-error {
  background: #ffcbc8 !important;
  color: #a50f0f !important;
}

.validator-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.validator-container__title {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.validator-dialog-error-container {
  width: calc(100% - 20px);
  margin: 0 0 20px 0;
  padding: 5px 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
}

.validator-dialog-error-title {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.validator-dialog-error-path {
  font-size: 12px;
  font-weight: 500;
  color: var(--select);
  margin: 0;
}

.validator-dialog-error-message {
  font-size: 12px;
  font-weight: 300;
}
