.validator-container {
    display: flex;
    position: fixed;
    bottom: 5px;
    left: 5px;
    padding: 5px;
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    font-family: Poppins;
    letter-spacing: 0.5px;
    border: solid 1px rgb(185, 188, 197);
    border-radius: 5px;
    justify-content: center;
    background-color: white;
}

.validator-icon {
    height: 15px;
    width: 15px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.validator-icon-correct {
    background-image: url('../assets/icons/correct.svg');
}

.validator-icon-error {
    background-image: url('../assets/icons/error.svg');
}

.validator-icon-warning {
    background-image: url('../assets/icons/warning.svg');
}

.validator-correct {
    border-left: 4px solid #278811 !important;
    color: #278811 !important;
}

.validator-error {
    border-left: 4px solid #e41e1e !important;
    color: #e41e1e !important;

    &:hover {
        background-color: #f9f1f1 !important;
        cursor: pointer;
    }
}

.validator-warning {
    border-left: 4px solid #dea700 !important;
    color: #dea700 !important;

    &:hover {
        background-color: #f9f7f1 !important;
        cursor: pointer;
    }
}

.validator-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.validator-container__title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.validator-dialog-error-container {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid #e41e1e;
    box-sizing: border-box;
}

.validator-dialog-warning-container {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid #dea700;
    box-sizing: border-box;
}

.validator-dialog-error-title {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.validator-dialog-error-path {
    font-size: 12px;
    font-weight: 500;
    color: var(--select);
    margin: 0;
}

.validator-dialog-error-message {
    font-size: 12px;
    font-weight: 300;
}

.validator-dialog-timestamp-message {
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    font-style: italic;
    position: relative;
    padding-left: 25px;
}

.validator-dialog-timestamp-message::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-image: url('../assets/icons/warning.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
